
# Pandas實戰練習 20201021

# Object creation 1: Series

In [1]:
import numpy as np
import pandas as pd


s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

# Object creation 2: Dataframe

In [2]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.723443 -0.503536  1.218324 -0.217592
2013-01-02  0.276388 -0.410442  0.207743  1.800341
2013-01-03  0.526058  0.896664 -0.437785  1.101395
2013-01-04 -0.418341 -0.294758  0.792023 -0.884603
2013-01-05 -1.373261  0.305562  0.493318 -1.542464
2013-01-06  1.679234 -0.334473 -0.350184 -0.732250

In [4]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo